<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editar Evento</title>
</head>
<body>
<form th:action="@{/events/{idEvento}/edit(idEvento =${evento.id})}" th:method="PUT" th:object="${evento}">

  <label>
    Nombre del evento:
    <input type="text" th:field="*{nombre}">
  </label>
  <br>
  <label>
    Fecha del evento:
    <input type="date" th:field="*{fecha}">
  </label>
  <br>
  <label>
    Ubicación del evento:
    <input type="text" th:field="*{ubicacion}">
  </label>
  <br>
  <label>
    Provincia donde se realiza:
    <select id="provincia" name="provincia" th:field="*{provincia}">
      <option value="">Seleccione una provincia</option>
      <option th:each="provincia : ${provincias}"
              th:value="${provincia}"
              th:text="${provincia}">
      </option>
    </select>
  </label>
  <br>
  <input type="submit" value="Editar Evento">
</form>
</body>
</html>